<%= form_with(model: measured_ingredient, local: true) do |form| %>
  <% if measured_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(measured_ingredient.errors.count, "error") %> prohibited this measured_ingredient from being saved:</h2>

      <ul>
        <% measured_ingredient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dish_id %>
    <%= form.text_field :dish_id %>
  </div>

  <div class="field">
    <%= form.label :ingredient_id %>
    <%= form.text_field :ingredient_id %>
  </div>

  <div class="field">
    <%= form.label :measurement_id %>
    <%= form.text_field :measurement_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
